{% extends 'base.html' %}

{% block content %}
<div class="container">
<h2><a href="{% url 'home_view' %}">Welcome To Book Club</a></h2>
    <form method="get" action=".">
        <input type="text" name="book_name" id="book_name" list="book" placeholder="Search By Book names Or Category names" class="validate" required="">
        <datalist id="book">
            {% for book in books %}
            <option value="{{ book.title }}"></option>
            {% endfor %}
        </datalist>
        <input type="submit" name="" value="SEARCH" class="btn btn-success">
    </form>
    <ul class="collection">
        {% for book in books %}
        <li class="collection-item">{{ book.title }}</li>
        {% empty %}
        <p>The book does not exist</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}
